:root {
  --green: #1db954;
  --white: #ffffff;
  --gray: #b3b3b3;
  --dark-gray: #a7a7a7;
  --black: #000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #6b6b6b;
}

.btn {
  color: var(--gray);
  cursor: pointer;
  border: none;
}

.btn:hover {
  color: var(--white);
}

.btn:active {
  color: var(--gray);
}

.animated-btn:hover {
  transform: scale(1.05);
}

.animated-btn:active {
  transform: scale(1);
}
